#wrapper {
        width:750px;
        margin-right:auto;
        margin-left:auto;
        text-align: center;
        min-height:700px;
}

#container {
        clear: both;
        text-align:left;
}
#main {
	width:600px;
	margin-bottom:10px; /*上下の間隔をあける*/
	float:left;
}
#sub {
	width:150px;
	margin-bottom:10px; /*上下の間隔をあける*/
	text-align:center;
	float:left;
}
#text {
	text-align:left;
}
#image {
	text-align:center;
}
#twitter {
	text-align:left;
}
form label {
	display: block;
	width: 100px;
	float: left;
	margin-bottom: 10px;
	text-align: left;
	padding-right: 15px;
}

textarea {
	width:100%;
	height:300px;
}
