body {
font-size:0.9em;
}
a {
text-decoration:none;
}
a:hover {
text-decoration:underline;
}
blockquote{
border:2px dotted #777;
padding:10px;
margin:10px;
text-align:left;
}

h1 {
}
h2 {
}
h3 {
}
img {
border-style:none;
}
/*
#edit img {
float:left;
}
*/
form {
display:inline;
}
caption {
/*
margin:0;
background-color:#9999FF;
*/
text-align:left;
}

table {
        width: 100%;
}

th {
text-align:left;
}

.dialog {
position:absolute;
width:500px;
height:100px;
left:50%;
top:50%;
margin-left:-250px;
margin-top:-50px;
        border-style:solid;
        border-width:1px;
display:none;
/*background-color:ActiveBorder;*/
}

/*
#edit {
	height:1em;
}
*/
.edit {
	display:none;
}

#header {
        clear: both;
        width: 90%;
	text-align:left;
}
#header .logo {
    float:left;
}
#header .navi {
    float:right;
    text-align:right;
}
#main .container {
	width:590px;
	border-style:solid;
	border-width:1px;
	margin-bottom:10px; /*上下の間隔をあける*/
}
#sub .container {
	width:190px;
	border-style:solid;
	border-width:1px;
	margin-bottom:10px; /*上下の間隔をあける*/
}
#pagination {
        clear: both;
	width:590px;
	text-align:left;
}
#footer {
        clear: both;
	width:90%;
	text-align:center;
}

#navigation {
        clear: both;
        width: 90%;
	text-align:left;
}


#sub .container ul {
list-style-type: none;
margin: 0;
padding: 0;
}

#sub .container ul li {
margin: 0em 0.5em 0.5em 0em;
}
#admin {
width:100%;
background-color:ActiveBorder;
}

#navigation ul{
clear: both;
list-style-type: none;
margin: 0;
padding: 0;
}

#navigation ul li{
float: left;
margin: 0em 0.5em 0.5em 0em;
padding: 0px;
}

#wrapper {
margin-right:auto;
margin-left:auto;
text-align: center;
width:1000px;
}

#container {
	clear: both;
margin-right:auto;
margin-left:auto;
}
#subcontainer {
	clear: both;
margin-right:auto;
margin-left:auto;
width:400px;
}
.multi label {
display: block;
width: 100px;
float: left;
       margin-bottom: 10px;
	text-align: left;
	padding-right: 15px;
}
.multi input,.multi select {
display: block;
width: 200px;
float: left;
       margin-bottom: 10px;
}
.multi textarea {
display: block;
width: 400px;
float: left;
       margin-bottom: 10px;
}
/*
.multi label[for="body"] {
display: block;
float: right;
       margin-bottom: 10px;
}
.multi textarea {
display: block;
float: right;
       margin-bottom: 10px;
}
*/
.multi br { clear: left; }
#main {
        clear: both;
   float: left;
   width: 590px;
   text-align:left;
}

.item {
  border: 1px;
  border-style:solid;
  margin: 10px;
 padding:0px;
  float: left;
}

#drag {
  height:100px;
  clear: both;
  border: 1px;
  border-style:solid;
  border-color:blue;
}
.message {
  margin: 100px;
}


.image {
  position: relative;  /* 基点を設定 */
}

.image  img {
  top: 0;
  left: 0;
  z-index: 1; /* 一番下に配置 */
}

.image p {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  position: absolute;  /* 親要素を基点に配置 */
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5); /* 背景黒で透明度50% */
  color: white;
  z-index: 2;  /* 画像の上に配置 */
  font-size: 100%;
  text-align:left;
}
